@model API.Dtos.ProductDTORequest_2

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.Categories as List<Web.Models.CategoryViewModel> ?? new List<Web.Models.CategoryViewModel>();
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
}


<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product Form</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Add">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProductName" class="control-label">Product Name</label>
                                    <input asp-for="ProductName" class="form-control" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Price</label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label">Quantity</label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CategoryIds" class="control-label">Categories</label>
                                    <select asp-for="CategoryIds" class="form-control" multiple id="categorySelect">
                                        @if (categories != null)
                                        {
                                            @foreach (var category in categories)
                                            {
                                                <option value="@category.Id">@category.CategoryName</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryIds" class="text-danger"></span>
                                </div>
                            </div>

                            

                            

                            <div class="col-12">
                                <div class="form-group d-flex">
                                    <input type="submit" value="Create" class="btn btn-primary spacing-10px" />
                                    <a asp-action="ProductList" class="btn btn-secondary spacing-10px">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/assets/js/scrollbar/simplebar.js"></script>
<script src="~/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="~/assets/js/sidebar-menu.js"></script>
<script src="~/assets/js/sidebar-pin.js"></script>
<script src="~/assets/js/slick/slick.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/assets/js/custom-list-product.js"></script>
<script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
<script src="~/assets/js/ecommerce.js"></script>
<script src="~/assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="~/assets/js/script.js"></script>

<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var img = document.createElement('img');
            img.src = e.target.result;
            img.width = 200;
            img.style.marginTop = '10px';

            var preview = document.getElementById('imagePreview');
            preview.innerHTML = '';
            preview.appendChild(img);
        };

        reader.readAsDataURL(file);
    });
</script>
