@model Web.Models.AppointmentViewModel
@{
    ViewData["Title"] = "Create Appointment";
}

<!-- Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<!-- ico-font-->
<link href="~/~/~/~/~/đatn/senshine/web/wwwroot/assets/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/js-datatables/style.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/owlcarousel.css">
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment" method="post">
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers">
                    <option value="">Select Customer</option>
                </select>
                <span id="customerName"></span> <!-- Hiển thị tên khách hàng đã chọn -->
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option value="">Select Employee</option>
                </select>
                <span id="employeeName"></span> <!-- Hiển thị tên nhân viên đã chọn -->
            </div>
            <div class="form-group">
                <label for="AppointmentDate" class="form-label">Date Time</label>
                <input type="datetime-local" id="AppointmentDate" class="form-control" aria-label="Start Date" asp-for="AppointmentDate" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="true">Finished</option>
                    <option value="false">Not Started</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label">Services</label>
                <select asp-for="Services" class="form-control" asp-items="ViewBag.Services" multiple="multiple">
                    @foreach (var service in ViewBag.Services)
                    {
                        <option value="@service.Value">@service.Text</option>
                    }
                </select>
            </div>
            <div class="d-flex mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary ms-1" asp-action="ListAppointment">Back to List</a>
            </div>
        </form>
    </div>
</div>

<!-- JavaScript để cập nhật tên khi chọn ID -->
<script>
    document.querySelector('[name="CustomerId"]').addEventListener('change', function () {
        var selectedOption = this.options[this.selectedIndex];
        document.getElementById('customerName').textContent = selectedOption.textContent;
    });

    document.querySelector('[name="EmployeeId"]').addEventListener('change', function () {
        var selectedOption = this.options[this.selectedIndex];
        document.getElementById('employeeName').textContent = selectedOption.textContent;
    });
</script>



<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/assets/js/scrollbar/simplebar.js"></script>
<script src="~/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="~/assets/js/sidebar-menu.js"></script>
<script src="~/assets/js/sidebar-pin.js"></script>
<script src="~/assets/js/slick/slick.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/assets/js/custom-list-product.js"></script>
<script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
<script src="~/assets/js/ecommerce.js"></script>
<script src="~/assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="~/assets/js/script.js"></script>
<script src="~/assets/js/theme-customizer/customizer.js"></script>