@model API.Dtos.NewsDTO

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
}
<style>
    .spacing-10px {
        margin-right: 10px;
    }

        .spacing-10px:last-of-type {
            margin-right: 10;
        }



    .image-preview {
        position: relative;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        border: 1px solid #ddd;
        padding: 5px;
        background: #f5f5f5;
    }

        .image-preview img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
</style>

<h1>Add News</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>News Form</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Add" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row g-3">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label">Title</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PublishedDate" class="control-label">Published Date</label>
                                    <input asp-for="PublishedDate" type="date" class="form-control" />
                                    <span asp-validation-for="PublishedDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Cover" class="control-label">Image URL</label>
                                    <input type="text" id="imageUrl" class="form-control" placeholder="Enter image URL" />

                                    <!-- Hidden input to store the actual value of the Cover field -->
                                    <input asp-for="Cover" type="hidden" id="Cover" />

                                    <div id="imagePreview" class="image-preview mt-2">
                                        <img src="#" alt="Image Preview" class="img-thumbnail d-none" id="imagePreviewImg" />
                                    </div>

                                    <span asp-validation-for="Cover" class="text-danger"></span>
                                </div>
                            </div>




                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Content" class="control-label">Content</label>
                                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group d-flex">
                                    <input type="submit" value="Create" class="btn btn-primary spacing-10px" />
                                    <a asp-action="NewsList" class="btn btn-secondary spacing-10px">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/assets/js/scrollbar/simplebar.js"></script>
<script src="~/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="~/assets/js/sidebar-menu.js"></script>
<script src="~/assets/js/sidebar-pin.js"></script>
<script src="~/assets/js/slick/slick.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/assets/js/custom-list-product.js"></script>
<script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
<script src="~/assets/js/ecommerce.js"></script>
<script src="~/assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="~/assets/js/script.js"></script>
<script>
    document.getElementById('imageUrl').addEventListener('input', function (event) {
        const url = event.target.value;
        const previewImg = document.getElementById('imagePreviewImg');
        const coverInput = document.getElementById('Cover');

        if (url) {
            previewImg.src = url;
            previewImg.classList.remove('d-none');
            coverInput.value = url;  // Update the hidden input value
        } else {
            previewImg.src = '#';
            previewImg.classList.add('d-none');
            coverInput.value = '';  // Clear the hidden input value
        }

        // Trigger change event to ensure validation picks up the new value
        coverInput.dispatchEvent(new Event('change'));
    });
</script>